@use 'styles/variable.scss';

.alignementRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include variable.desktop-only {
    flex-direction: row;
  }
}

.totalWidth {
  width: 100%;
}
.containerForm {
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.imageLogin {
  display: none;
  @include variable.desktop-only {
    display: flex;
  }
}

.separatorLign {
  border-bottom: 1px solid grey;
  width: 100%;
}

.imageLoginMobile {
  display: flex;
  margin-bottom: 20px;
  @include variable.desktop-only {
    display: none;
  }
}
